/* -------------------------------
    Default Light Theme
---------------------------------- */
:root {
  --bg: #ffffff;
  --text: #1f2937;
  --accent: #6366f1;
  --muted: #6b7280;

  --card-bg: #f9fafb;
  --border: #e5e7eb;
  --shadow: rgba(0, 0, 0, 0.05);
}

/* -------------------------------
    Dark Theme
---------------------------------- */
body.dark {
  --bg: #1f2937;
  --text: #f3f4f6;
  --accent: #818cf8;
  --muted: #9ca3af;

  --card-bg: #111827;
  --border: #374151;
  --shadow: rgba(0, 0, 0, 0.2);
}

/* Smooth background switch */
body {
  background-color: var(--bg);
  color: var(--text);
}
